https://www.kaggle.com/sachinsarkar/fake-news-classification-using-naive-bayes

https://www.kaggle.com/kens3i/fake-news-detection-for-beginners

https://www.kaggle.com/gauravduttakiit/sentimental-analysis-based-on-text

https://www.kaggle.com/akankshasingh2001/fake-news-detector

https://medium.com/analytics-vidhya/a-tip-a-day-python-tip-5-pandas-concat-append-dev-skrol-18e4950cc8cc


https://towardsdatascience.com/why-you-may-be-getting-low-test-accuracy-try-this-quick-way-of-comparing-the-distribution-of-the-9f06f5a72cfc

Exploratory Data

In [1]:
#import library
import pandas as pd
import numpy as np

In [2]:
#Import dataset 
fake = pd.read_csv('Fake.csv',delimiter =',')
true = pd.read_csv('True.csv', delimiter = ',')

In [3]:
fake['analysis'] = 0
fake.head()

,title,text,subject,date,analysis
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [4]:
fake.tail()

,title,text,subject,date,analysis
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [5]:
true['analysis'] = 1
true.head()

,title,text,subject,date,analysis
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [6]:
true.tail()

,title,text,subject,date,analysis
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [7]:
#dataframe gathering
df = pd.concat([fake,true])
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,title,text,subject,date,analysis
0,Mood sours in ethnically split Cyprus over aid...,ATHENS (Reuters) - Cyprus said on Wednesday it...,worldnews,"October 4, 2017",1
1,END OF FOX NEWS MONOPOLY? LIBERAL Murdoch Sons...,"The wife of Fox News co-owner James Murdoch, m...",left-news,"Aug 19, 2017",0
2,"NRA, the top U.S. gun lobby group, endorses Tr...",WASHINGTON (Reuters) - The National Rifle Asso...,politicsNews,"May 20, 2016",1
3,BILL CLINTON’S RAPE ACCUSERS Speak Out: “We Ar...,Wow! These women are incredibly brave. Paula J...,politics,"Oct 10, 2016",0
4,OBAMA Defends Black Lives Matter But Does He R...,But he s pointing the finger at the wrong aspe...,Government News,"Oct 23, 2015",0

Check dimension of dataframe

In [8]:
df.shape

(44898, 5)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     44898 non-null  object
 1   text      44898 non-null  object
 2   subject   44898 non-null  object
 3   date      44898 non-null  object
 4   analysis  44898 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.7+ MB

In [10]:
#take part of the dataset to be used

df.drop(["date","subject"],axis = 1, inplace = True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     44898 non-null  object
 1   text      44898 non-null  object
 2   analysis  44898 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [12]:
df.shape

(44898, 3)

In [13]:
df.head()

,title,text,analysis
0,Mood sours in ethnically split Cyprus over aid...,ATHENS (Reuters) - Cyprus said on Wednesday it...,1
1,END OF FOX NEWS MONOPOLY? LIBERAL Murdoch Sons...,"The wife of Fox News co-owner James Murdoch, m...",0
2,"NRA, the top U.S. gun lobby group, endorses Tr...",WASHINGTON (Reuters) - The National Rifle Asso...,1
3,BILL CLINTON’S RAPE ACCUSERS Speak Out: “We Ar...,Wow! These women are incredibly brave. Paula J...,0
4,OBAMA Defends Black Lives Matter But Does He R...,But he s pointing the finger at the wrong aspe...,0

Natural Language Processing

In [14]:
#import library and package

import nltk
nltk.download('stopwords')
import re, stop_words
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import confusion_matrix, classification_report

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [15]:
input_review = np.array(df["title"])

In [16]:
from nltk.stem.porter import PorterStemmer

  
def review(text):
    text = re.sub('[^A-Za-z]',' ',text)
    return ' '.join([nltk.stem.PorterStemmer().stem(word) 
                     for word in text.lower().split() if word not in stop_words.get_stop_words('english')])
text = df['text'].apply(review)
labels = df['analysis']

In [17]:
labels = df['analysis']

In [18]:
contV = CountVectorizer(max_features=200,ngram_range=(1,3))
x = contV.fit_transform(text).toarray()
y = np.array(labels)

In [38]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
print('\nTotal number in Training Dataset:',x_train.shape[0])
print('Total number in Testing Dataset:',x_test.shape[0])

Total number in Training Dataset: 35918
Total number in Testing Dataset: 8980

Training Bernoulli Naive Bayes Classification Model

In [39]:
naiveB = BernoulliNB().fit(x_train,y_train)
score = naiveB.score(x_test,y_test)
print('\nAccuracy Score is : ',score)

Accuracy Score is :  0.9811804008908686

In [40]:
y_pred = naiveB.predict(x_test)
cMatrix = confusion_matrix(y_test,y_pred)
print('Confusion matrix below : \n\n',cMatrix,'\n\n')

Confusion matrix below :

 [[4573  108]
 [  61 4238]]

In [31]:
matrix = classification_report(y_test,y_pred)
print('Matrix : \n\n',matrix)

Matrix :

               precision    recall  f1-score   support

           0       0.99      0.97      0.98      4836
           1       0.97      0.98      0.98      4144

    accuracy                           0.98      8980
   macro avg       0.98      0.98      0.98      8980
weighted avg       0.98      0.98      0.98      8980

In [32]:
def cek(text):
    text = review(text)
    text = contV.transform([text])
    if naiveB.predict(text)[0] == 1:
        print('This is Fake news :(')
    else:
        print('This is real news :)')

In [36]:
df.head()

,title,text,analysis
0,Mood sours in ethnically split Cyprus over aid...,ATHENS (Reuters) - Cyprus said on Wednesday it...,1
1,END OF FOX NEWS MONOPOLY? LIBERAL Murdoch Sons...,"The wife of Fox News co-owner James Murdoch, m...",0
2,"NRA, the top U.S. gun lobby group, endorses Tr...",WASHINGTON (Reuters) - The National Rifle Asso...,1
3,BILL CLINTON’S RAPE ACCUSERS Speak Out: “We Ar...,Wow! These women are incredibly brave. Paula J...,0
4,OBAMA Defends Black Lives Matter But Does He R...,But he s pointing the finger at the wrong aspe...,0

In [37]:
cek(text[0])

This is Fake news :(

In [26]:
predik1 ='''
 WASHINGTON (Reuters) - The No. 2 Republican in the U.S. House of Representatives said on Tuesday the House would likely need to vote again on tax
            legislation on Wednesday morning given that Democrats in the Senate were likely to prevail on a procedural objection. House Majority Leader Kevin McCarthy 
            advised House lawmakers that Senate Democrats were likely to object that the legislation fails to comply with the so-called Byrd rule and were likely to be
            upheld, necessitating a second House vote. “As such, members are further advised that an additional procedural vote on the Motion to Concur is expected 
            tomorrow morning, which will clear the bill for President Trump’s signature,” McCarthy said in a notice to House lawmakers.
'''
cek(predik1)

This is Fake news :(